.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Unit { 
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  background: white;
  align-items: center;
  width: 230px;  
  
}
.unit-text {
  color: navy ;

  text-align: center;
  font-weight: bold;

}

.Cam-row {
  color:  #61dafb;
  font-weight: bold;
  align-items: center;
  display:flex;
}

.camera-button {
  display:flex;
  flex-direction: row;

  display:flex;

  

}

.CamInfo {
  align-items: top;

}
.camstats {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.camera-button-style {
  background-color:  #282c34;
  border: none;
  width: 69px;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border: none;
  height: 10px;
  border-radius: 5px;
  
}

.UnitRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: right;

}
.advanced-info {
  display: flex;
  justify-content:top;

}

.Settings {
  text-align: center;
  background-color: #282c34;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: 15px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;

  border-style: solid;
  border-radius: 10px;
  



}

.main-dash {
  display:flex;
}
.info-block {
  color: black ;

  margin: 5px 20px 20px 20px;
  padding: 5px 20px 20px 20px;
  text-align: left;
  justify-content: top;
  font-size: medium;
}
.info-block2 {
  color: black ;

  text-align: left;
  justify-content: top;
  font-size: medium;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}